@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-background: #f8fafc;
  --color-text: #0f172a;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
